<div class="modal fade" ng-cloack>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="confirmPasswordChange()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="oldPassword" class="col-sm-6 control-label" translate>messages.enterOldPassword</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="{{messages.enterOldPassword | translate}}" ng-model="oldPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-sm-6 control-label" translate>messages.enterNewPassword</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="{{messages.enterNewPassword | translate}}" ng-model="newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmNewPassword" class="col-sm-6 control-label" translate>messages.confirmNewPassword</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="{{messages.confirmNewPassword | translate}}" ng-model="confirmNewPassword">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="confirmPasswordChange()" class="btn btn-primary" data-dismiss="modal" translate>button.save</button>
                <button type="button" ng-click="cancelPasswordChange()" class="btn" translate>button.cancel</button>
            </div>
        </div>
    </div>
</div>
