


<div ng-controller="DocumentController as ctrl" ng-cloak>



    <div class="panel panel-primary">
        <div class="panel-body">

            <form name="documentForm">
            

















            
            
            
            </form>
        </div>
    </div>

    <omni-security secured-by="1148"><button ng-disabled="documentForm.$invalid" ng-if="ctrl.createEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.create(ctrl.document)" translate>button.create</button></omni-security>
    <omni-security secured-by="1148"><button ng-if="ctrl.addEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.addAnother()" translate>button.add</button></omni-security>
    <omni-security secured-by="1149"><button ng-if="ctrl.editEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.edit(ctrl.document.id)" translate>button.edit</button></omni-security>
    <omni-security secured-by="1151"><button ng-if="ctrl.deleteEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.delete(ctrl.document.id)" translate>button.delete</button></omni-security>
    <omni-security secured-by="1150"><button ng-disabled="documentForm.$invalid" ng-if="ctrl.cancelEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.save(ctrl.document)" translate>button.save</button></omni-security>
    <omni-security secured-by="1152"><button ng-if="ctrl.cancelEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.cancelEdit(ctrl.document.id)" translate>button.cancel</button></omni-security>
    <!-- back -->
    <button ng-if="ctrl.backEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.back()" translate>button.back</button>
</div>
