


<div ng-controller="UorgController as ctrl" ng-cloak>



    <div class="panel panel-primary">
        <div class="panel-body">

            <form name="uorgForm">
            

<div ng-if="ctrl.createEnabled || ctrl.saveEnabled || ctrl.disable">
						<div class="form-group" ng-class="{'has-error': uorgForm.$error.$dirty && uorgForm.nom.$invalid}">
						                            <label for="nom" translate="uorg.nom.label"></label>
						                            <div role="alert">
						                                <span class="error" ng-show="uorgForm.nom.$error.required" style="display: inline-block ">*</span>
						                            </div>
						                            <input id="nom" name="nom"  class="form-control col-md-6" type="text"
						                             ng-model="ctrl.uorg.nom" placeholder="{{'uorg.nom.placeholder' | translate}}" ng-disabled="ctrl.disable"  required
						                             uib-tooltip="{{'uorg.nom.tooltip' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-enable="!uorgForm.nom.$touched">
						
						</div></div>

<div ng-if="ctrl.createEnabled || ctrl.saveEnabled || ctrl.disable">
						<div class="form-group" ng-class="{'has-error': uorgForm.$error.$dirty && uorgForm.nomAbrege.$invalid}">
						                            <label for="nomAbrege" translate="uorg.nomAbrege.label"></label>
						                            <div role="alert">
						                                <span class="error" ng-show="uorgForm.nomAbrege.$error.required" style="display: inline-block ">*</span>
						                            </div>
						                            <input id="nomAbrege" name="nomAbrege"  class="form-control col-md-6" type="text"
						                             ng-model="ctrl.uorg.nomAbrege" placeholder="{{'uorg.nomAbrege.placeholder' | translate}}" ng-disabled="ctrl.disable"  required
						                             uib-tooltip="{{'uorg.nomAbrege.tooltip' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-enable="!uorgForm.nomAbrege.$touched">
						
						</div></div>






					<div ng-if="ctrl.createEnabled || ctrl.saveEnabled || ctrl.disable">
                        <label for="refParent" translate>uorg.refParent.label</label>
                        <div class="input-group col-md-6 ibl">

                          <div ng-if="!ctrl.disable">
                            <select class="form-control" id="refParent" ng-model="ctrl.uorg.refParent"
                                    ng-options="item as item.nom for item in ctrl.parents track by item.id" ng-disabled="ctrl.disable">
                            </select>
                          </div>

                          <div ng-if="ctrl.disable" class="omnicombo">
                            {{ctrl.uorg.refParent.nom}}<span class="caret"></span>
                          </div>
                          <div ng-messages="uorg.Form.refParent.$error" ng-show="uorg.Form.refParent.$touched">
                              <div ng-messages-include="app/common/messages/messages.html"></div>
                          </div>
                        </div>
					</div>
            
            
            
            </form>
        </div>
    </div>

    <omni-security secured-by="1078"><button ng-disabled="uorgForm.$invalid" ng-if="ctrl.createEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.create(ctrl.uorg)" translate>button.create</button></omni-security>
    <omni-security secured-by="1078"><button ng-if="ctrl.addEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.addAnother()" translate>button.add</button></omni-security>
    <omni-security secured-by="1079"><button ng-if="ctrl.editEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.edit(ctrl.uorg.id)" translate>button.edit</button></omni-security>
    <omni-security secured-by="1081"><button ng-if="ctrl.deleteEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.delete(ctrl.uorg.id)" translate>button.delete</button></omni-security>
    <omni-security secured-by="1080"><button ng-disabled="uorgForm.$invalid" ng-if="ctrl.cancelEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.save(ctrl.uorg)" translate>button.save</button></omni-security>
    <omni-security secured-by="1082"><button ng-if="ctrl.cancelEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.cancelEdit(ctrl.uorg.id)" translate>button.cancel</button></omni-security>
    <!-- back -->
    <button ng-if="ctrl.backEnabled" type="button" class="btn btn-default" aria-label="Left Align" ng-click="ctrl.back()" translate>button.back</button>
</div>
